@mixin header($main-color, $custom-color, $dark-grey-color) {
    .navbar {
        font-weight: bold;
        padding: 0 100px !important;
        background-color: transparent !important;

        img {
            width: 50px;
        }
        button.navbar-toggler {
            color: $custom-color;
        }
        .navbar-nav {
            li > a {
                transition-property: background-color;
                transition-duration: 0.5s;
                color: $custom-color;

                &:hover {
                    color: $main-color;
                    background-color: $custom-color;
                    border-bottom: 1px solid $main-color;
                }
            }

            .active .nav-link:not(.lang) {
                color: $main-color !important;
                border-bottom: 1px solid $custom-color;
            }
            .nav-link {
                &.active:not(.lang) {
                    color: $main-color !important;
                    border-bottom: 1px solid $custom-color;
                }
            }
        }
    }
    .noTransparent {
        background-color: $custom-color !important;

        button.navbar-toggler {
            color: $main-color !important;
        }
        li > a {
            transition-property: background-color;
            transition-duration: 0.5s;
            color: $dark-grey-color !important;

            &:hover {
                color: $custom-color !important;
                background-color: $main-color !important;
                border-bottom: 1px solid $main-color;
            }
        }

        .active a:not(.lang) {
            color: $main-color !important;
            border-bottom: 1px solid $dark-grey-color !important;

            &:hover {
                color: $custom-color !important;
            }
        }
        .nav-link {
            &.active:not(.lang) {
                color: $main-color !important;
                border-bottom: 1px solid $dark-grey-color !important;

                &:hover {
                    color: $custom-color !important;
                }
            }
        }
    }
}

@mixin button-style($main-color, $custom-color) {
    color: $main-color !important;
    border-color: $main-color !important;

    &:hover,
    &:focus {
        color: $custom-color !important;
        background-color: $main-color !important;
        border-color: $custom-color !important;
    }
}

@mixin pizza(
    $main-color,
    $custom-color,
    $dark-grey-color,
    $custom-card-border-color,
    $custom-border-color,
    $card-color
) {
    color: $custom-color;
    margin-top: 100px;

    .custom-btn {
        @include button-style($main-color, $custom-color);
        padding: 15px 40px;
        border-width: 1px !important;
        border-style: solid !important;
        font-weight: bold !important;

        &:hover,
        &:focus {
            border-width: 1px !important;
            border-style: solid !important;
        }
    }

    .borders-between > div + div {
        border-top: 1px solid $custom-border-color;
        padding-top: 15px;
        padding-bottom: 15px;
    }

    .carousel {
        margin-top: 30px;

        &-item {
            height: 423px;
            img {
                height: 100%;
            }
        }
    }

    .carousel-indicators [data-bs-target] {
        width: 50px;
        height: 50px;
        border: 2px solid transparent;
    }

    .custom-carousel-indicators-primary img.active {
        border-color: $main-color;
    }

    #carousel-product-images .carousel-indicators {
        position: relative;
        top: -35px;
        right: 0;
    }

    #carousel-product-images .carousel-item img {
        border: 1px solid $custom-border-color;
        width: 100%;
    }

    .product-description {
        text-align: justify;
    }

    .block-100 {
        width: 100%;
        display: block;
    }

    #form-product-selection h2 {
        font-size: 30px;
        font-weight: 700;
        margin: 18px 0 18px;
    }

    .price.large {
        font-size: 30px;
        margin-top: 20px;
    }

    .product-option {
        display: inline-block;
        height: 23px;
        width: 23px;
        border: 1px solid $custom-border-color;
        text-align: center;
        justify-content: center;
        color: $grey-color;
        margin: 3px 3px 9px 3px;
        transition: all 0.3s ease;

        &.type {
            width: fit-content;
            padding: 0 10px;
        }

        &:hover {
            color: $main-color;
            border-color: $main-color;
        }
    }

    .product-option input {
        display: none;
    }

    .product-option label {
        font-weight: 700;
        display: inline-block;
        cursor: pointer;
        width: 100%;
    }

    .product-option.active {
        color: $main-color;
        border-color: $main-color;
    }

    .product-quantity select {
        width: 56px;
        height: 34px !important;
        padding: 6px 12px;
        margin-right: 3px;
    }

    .product-quantity .label {
        padding-top: 10px;
    }

    .product-quantity {
        padding-bottom: 20px;
    }

    .custom-btn-with-icon {
        color: $custom-color;
        margin-top: 15px;
        margin-bottom: 10px;
        font-size: 18px;
        padding: 5px 10px 5px 10px;
    }

    .comments {
        .media {
            margin: 15px;
        }

        .media:first-child {
            margin-top: 0px;
        }

        .media img {
            width: 80px;
            height: 80px;
            margin-left: 10px;
            border: 1px solid $custom-border-color;
        }

        .media .media-heading {
            font-size: 18px;
            margin-bottom: 5px;
        }

        .rating {
            i {
                color: $grey-color;
                &.active {
                    color: $main-color;
                }
            }
        }
    }

    .suggestions {
        color: $dark-grey-color;
        .custom-heading {
            color: $custom-color !important;
            margin: 30px 0;
        }
        .overlay {
            position: absolute;
            background-color: rgba($color: $main-color, $alpha: 0.5);
            height: 250px;
            width: calc(100% - 16px);
            display: flex;
            justify-content: center;
            align-items: center;
            opacity: 0;
            transition: all 0.3s ease;
        }

        .overlay:hover {
            opacity: 1;
        }
        .suggestions .custom-thumbnail {
            margin-right: -8px;
            margin-left: -8px;
        }
        .custom-thumbnail {
            border: 2px solid $custom-card-border-color;
            padding: 8px;
            cursor: pointer;
            margin-bottom: 20px;
            background-color: $card-color;
            color: $custom-color !important;

            &:hover {
                border-color: $main-color;
                background-color: rgba($main-color, 0.5);
            }
        }
        .custom-thumbnail .sale {
            padding: 5px 10px;
            position: absolute;
            left: 16px;
            top: 14px;
            direction: ltr;
        }

        .custom-thumbnail .sale::before {
            content: "-";
        }

        .custom-thumbnail img {
            height: 250px;
            width: 100%;
            max-width: 250px;
            margin: 0 auto;
            display: block;
        }
    }
}

@mixin footer($main-color, $custom-color, $border-color) {
    position: relative;
    overflow: hidden;
    border-top: 1px solid rgba($color: $border-color, $alpha: 0.3);
    padding-top: 50px;
    color: $custom-color;
    .footer-bg {
        position: absolute;
        object-fit: cover;
        right: -120px;
        bottom: -349px;
        z-index: -1;
        width: 700px;
        opacity: 0.2;
    }
    .site-info {
        .identity {
            gap: 20px;
            .social-links {
                ul {
                    li {
                        i {
                            color: $custom-color;
                            font-size: 20px;
                            margin: 0 10px;
                            cursor: pointer;
                            transition: all 0.3s ease;

                            &:hover {
                                color: $main-color;
                                transform: scale(1.2);
                            }
                        }
                    }
                }
            }
            p {
                text-transform: capitalize;
                font-size: 15px;
                span {
                    color: $main-color;
                }
            }
        }
        .important-links {
            padding-top: 20px;
            p {
                color: $main-color;
                margin-bottom: 30px;
            }
            ul {
                li {
                    margin: 10px 0;
                    a {
                        color: $custom-color;
                        font-size: 12px;

                        &:hover {
                            color: rgb(63, 63, 172);
                            text-decoration: underline;
                        }
                    }
                }
            }
        }
        .working-info {
            padding-top: 20px;
            h3 {
                font-size: 16px;
                margin-bottom: 35px;
            }
            ul {
                li {
                    margin: 15px 0;
                    font-size: 12px;
                }
                li:nth-of-type(odd) {
                    color: $main-color;
                }
                li:nth-of-type(even) {
                    direction: ltr;
                    color: $custom-color;
                }
            }
        }
        .join-us {
            padding-top: 20px;
            h3 {
                font-size: 16px;
                margin-bottom: 35px;
            }
            .input-group {
                direction: ltr;

                input {
                    border-radius: 0;
                    text-align: right;
                    // &::placeholder {
                    // }
                }
                button {
                    border-radius: 0;

                    i {
                        color: $custom-color;
                        transition: all 0.3s ease;
                    }
                    &:hover {
                        background-color: transparent !important;
                        i {
                            color: $main-color;
                        }
                    }
                }
            }
            .copyright {
                direction: ltr;
                span:last-of-type {
                    color: $main-color;
                }
            }
        }
    }

    .links {
        font-size: 16px;
        ul {
            li {
                transition: all 0.3s ease;
                margin: -5px 0 !important;
                &:hover {
                    a {
                        color: $main-color;
                    }
                }
            }
        }
    }
}
