$main-color: #eb173d;
$dark-grey-color: #1f1f1f;
$custom-color: #fefefe;
$grey-color: #a9a9a9;
$pizza-1-main-color: #eb9617;
$pizza-1-custom-color: #fefefe;
$pizza-2-main-color: #17a4eb;
$pizza-2-custom-color: #fefefe;
$pizza-3-main-color: #eb173d;
$pizza-3-custom-color: #fefefe;
