@import "variable";
.cart-list {
    flex-direction: row;
}
.cart-container,
.credit-container {
    width: auto;
    min-height: 45px;
    float: left;
    position: relative;

    &:hover {
        .cart-dropdown,
        .credit-dropdown {
            display: block;
        }
    }

    .cart,
    .credit {
        width: 25px;
        padding-top: 12px;
        padding-left: 15px;
        color: #fff;
        font-size: 20px;
        z-index: 9999;
    }

    .cart-dropdown,
    .credit-dropdown {
        background-color: $dark-grey-color;
        color: white;
        text-align: center;
        display: none;
        width: 300px;
        min-height: 100px;
        position: absolute;
        top: 50px;
        left: -130px;
        margin-top: 0;
        margin-left: 20px;
        border: 1px solid #455a64;
        z-index: 9999;

        .product,
        .credit-card {
            padding: 10px;
            border-bottom: 1px solid #455a64;
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            font-size: 13px;

            .delete-item {
                cursor: pointer;
                margin: 0 5px;
                i {
                    color: red;
                    transition: all 0.3s ease;
                    &:hover {
                        opacity: 0.8;
                    }
                }
            }
        }

        .product-total {
            padding: 10px;
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            font-size: 13px;
            font-weight: bold;
        }
    }
}

.wrapper {
    max-width: 1000px;
    margin: 0 auto;
}

.product-list {
    width: 300px;
    border-bottom: 1px solid #ccc;
    padding: 5px;
    margin: 0 auto;

    div {
        margin: 10px 0;
        border-bottom: 1px solid #c7c7c7;
        padding-bottom: 8px;
        .product-value {
            float: right;
        }
    }
}

button {
    position: relative;
    padding: 0.9em 1.4em;
    outline: 0;
    border: 0;
    text-align: center;
    cursor: pointer;
    font-size: 12px;
    line-height: 1;
    font-weight: 300;
    background: #455a64;
    color: #fff;
}
.credit-card-icon {
    .credit {
        color: $custom-color;
        font-size: 20px;
        user-select: none;

        &-container {
            display: flex;
            align-items: center;
            justify-content: center;

            a {
                cursor: move;
            }

            .credit-dropdown {
                & > p {
                    font-size: 12px;
                    border-bottom: 1px solid gray;
                    margin: 0;
                    padding-bottom: 10px;
                    padding-top: 10px;
                }
                .credit-card {
                    justify-content: center !important;
                }
            }
        }
    }
}

@media (max-width: 1023px) {
    .cart-dropdown,
    .credit-dropdown {
        width: 200px !important;
        left: -100px !important;
    }
}
@media (max-width: 991px) {
    .top-menu {
        margin-bottom: 10px;
    }
    .credit-dropdown {
        display: block !important;
    }
}
@media (max-width: 767px) {
    .top-menu {
        margin-bottom: 100px;
    }
}
