@import "mixins";
@import "./variable";

$main-color: #eb9617;
$custom-color: #fefefe;
$dark-grey-color: #1f1f1f;
$card-color: rgba($main-color, 0.1);
$custom-border-color: darken($main-color, 5%);
$custom-card-border-color: darken($main-color, 30%);

.html-1::-webkit-scrollbar-thumb {
    background-color: $main-color;
}

img {
    object-fit: cover;
}

.top-menu-1 {
    @include header($main-color, $custom-color, $dark-grey-color);
}

.pizza-1 {
    @include pizza(
        $main-color,
        $custom-color,
        $dark-grey-color,
        $custom-card-border-color,
        $custom-border-color,
        $card-color
    );
}

.footer-pizza-1 {
    @include footer($main-color, $custom-color, $custom-border-color);
}
