@import "./mixins";
@import "./pizza_1.scss";
@import "./pizza_2.scss";
@import "./pizza_3.scss";
@import "./chatBox.scss";
@import "./cart_icon.scss";
@import "./cart-page.scss";
@import "./drag-drop.scss";
@import "./variable";
@import url("https://unpkg.com/aos@2.3.1/dist/aos.css");

@font-face {
    font-family: "cairoFont";
    src: url(../fonts/Cairo-Regular.ttf);
}

html::-webkit-scrollbar {
    width: 10px !important;
}

html::-webkit-scrollbar-track {
    background-color: rgba(100, 100, 100, 0.3);
}

html::-webkit-scrollbar-thumb {
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    background-color: $main-color;
}

body {
    font-family: "cairoFont", sans-serif !important;
    background-color: $dark-grey-color;
    scrollbar-width: thin;
}

ul {
    list-style: none !important;
    padding: 0 !important;
    margin: 0 !important;
}

a {
    text-decoration: none;
    cursor: pointer;
    transition: all 0.3s ease;
}

input {
    &::placeholder {
        // text-align: right ;
        direction: var(--placeholder-dir);
    }
}

.toast-regular-deleted,
.toast-regular-cancel,
.toast-regular-added,
.toast-question {
    position: fixed;
    z-index: 9999;
    transform: translate(-50%, 50%);
    top: 2%;
    left: 50%;
    color: $custom-color !important;
    background-color: $dark-grey-color !important;
    opacity: 0.9;

    .confirm-btn {
        background-color: $main-color !important;
        border-color: $main-color !important;
        transition: all 0.3s ease !important;
        &:hover {
            opacity: 0.8;
        }
    }
}

#splash-screen {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: $dark-grey-color;
    z-index: 9999;

    &-content {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        text-align: center;
    }
    &-logo {
        width: 200px;
    }
}

.counter {
    height: 20px !important;
    width: 20px !important;
    text-align: center !important;
    line-height: 10px !important;
    top: 5px !important;
    font-size: 10px;
    color: $custom-color !important;
}

.bg-pattern {
    height: 100vh;
    width: 100%;
    position: fixed;
    top: 0;
    background: linear-gradient(
            rgb(10 10 10),
            rgb(145 125 125 / 0%),
            rgb(243 1 1 / 0%),
            rgb(0 0 0)
        ),
        url(../images/pattern.svg);
    background-position: center;
    filter: blur(0.15rem);
    z-index: -1;
}

.custom-btn {
    @include button-style($main-color, $custom-color);
    padding: 15px 40px;
    border-width: 1px !important;
    border-style: solid !important;
    font-weight: bold !important;

    &:hover,
    &:focus {
        border-width: 1px !important;
        border-style: solid !important;
        border-color: #eb173d !important;
        font-weight: 100 !important;
    }
}

.container > .text-center {
    color: $custom-color !important;
    margin-bottom: 30px;
}

.order-price {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 20px;

    .custom-btn {
        padding: 10px 20px;
        margin: 0 -23px;
    }
    span {
        display: inline-block;
        font-size: 20px;
        font-weight: bold;
        color: $main-color;
    }
}

.container-fluid {
    padding-right: 0 !important;
    padding-left: 0 !important;
    overflow-x: hidden;
}

nav {
    &.navbar {
        font-weight: bold;
        padding: 0 100px !important;
        background-color: transparent !important;

        img {
            width: 50px;
        }
        button.navbar-toggler {
            color: $custom-color;
        }
        .navbar-nav {
            li > a {
                transition-property: background-color;
                transition-duration: 0.5s;
                color: $custom-color;

                &:hover {
                    color: $main-color;
                    background-color: $custom-color;
                    border-bottom: 1px solid $main-color;
                }
            }

            .active .nav-link:not(.lang) {
                color: $main-color !important;
                border-bottom: 1px solid $custom-color;
            }
            .nav-link {
                &.active:not(.lang) {
                    color: $main-color !important;
                    border-bottom: 1px solid $custom-color;
                }
            }
        }
    }
    &.noTransparent {
        background-color: $custom-color !important;

        button.navbar-toggler {
            color: $main-color !important;
        }
        li > a {
            transition-property: background-color;
            transition-duration: 0.5s;
            color: $dark-grey-color !important;

            &:hover {
                color: $custom-color !important;
                background-color: $main-color !important;
                border-bottom: 1px solid $main-color;
            }
        }

        .active a:not(.lang) {
            color: $main-color !important;
            border-bottom: 1px solid $dark-grey-color !important;

            &:hover {
                color: $custom-color !important;
            }
        }
        .nav-link {
            &.active:not(.lang) {
                color: $main-color !important;
                border-bottom: 1px solid $dark-grey-color !important;

                &:hover {
                    color: $custom-color !important;
                }
            }
        }
    }
}

.hero {
    .row {
        display: block !important;
    }

    .carousel {
        &-inner{
            filter: drop-shadow(2px 4px 6px black);
        }
        &-item {
            img {
                height: 100vh;
                object-fit: cover;
                filter: brightness(0.72);
            }

            .overlay {
                position: absolute;
                background-color: rgba($color: $grey-color, $alpha: 0.3);
                top: 0;
                right: 0;
                left: 0;
                height: 100%;
                width: 100%;
                display: flex !important;
                flex-flow: column;
                align-items: center;
                justify-content: center;
                z-index: 1;
            }
        }

        &-indicators {
            li {
                width: 15px;
                height: 15px;
                border-radius: 50%;
                -webkit-border-radius: 50%;
                -moz-border-radius: 50%;
                -ms-border-radius: 50%;
                -o-border-radius: 50%;
                margin: 20px 5px 0 0;

                &.active {
                    background-color: $main-color;
                }
            }
        }

        &-caption {
            h1 {
                font-weight: bold;
                color: $custom-color;
                margin-bottom: 50px;

                span {
                    color: $main-color;
                    font-size: 50px;
                }
            }

            h4 {
                width: 60%;
                color: $custom-color;
            }
        }
    }
}

.offers {
    padding-top: 5rem;

    .card-body {
        width: 90%;
        border: 1px solid $grey-color;
        border-radius: 5px;
        position: relative;
        background-color: $custom-color;
        top: -17px;
        left: -5%;
    }
    .card-title {
        font-weight: bold;
        font-size: 18px;
    }

    .card-text {
        font-size: 14px;
    }
}

.menu {
    padding-top: 5rem;
    padding-bottom: 3rem;

    img {
        height: 272px;
        object-fit: cover;
    }

    .pizza-details {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 20px;

        .dropdown-menu {
            padding-right: 10px;
        }
    }
}

footer {
    @include footer($main-color, $custom-color, $main-border-color);
}

// Contact-us Page

.contact-us {
    margin: 150px 0;
    .location-header {
        margin-bottom: 50px;
        .container {
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 3rem;

            .location {
                &-name {
                    color: $custom-color;
                    font-size: 20px;
                }
                &-nav {
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                }
                &-item.active {
                    .location-link {
                        color: $main-color !important;
                        border-bottom: 1px solid $custom-color !important;
                    }
                }
                &-link {
                    color: $custom-color;
                    transition: all 0.3s ease;
                    &:hover {
                        color: $main-color;
                        border-bottom: 1px solid $custom-color;
                    }
                }
            }
        }
    }

    .location {
        display: flex;
        align-items: center;
        justify-content: center;
        margin-bottom: 50px;

        .logo {
            p {
                font-size: 30px;
                color: $custom-color;
                span {
                    color: $main-color;
                }
            }
        }
        .address {
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 40px;
            color: $custom-color;
            text-align: center;
            &-header {
            }
            &-body {
            }
        }
        .map {
        }
    }

    .footer {
        .events {
            color: $custom-color;
            h3 {
                text-align: center;
                margin-bottom: 40px;
            }
            &-item {
                li {
                    margin-bottom: 30px;
                }
            }
        }

        .form {
            color: $custom-color;
        }

        .gallery {
            .row {
                display: flex;
                align-items: center;
                justify-content: center;
                text-align: center;
            }
            &-item {
                img {
                    width: 100px;
                    height: 100px;
                    object-fit: cover;
                    border: 1px solid $grey-color;
                    margin-bottom: 20px;
                }
            }
        }
    }
}

// About-us Page

.about-us {
    margin-top: 100px;
    margin-bottom: 100px;
    text-align: center;
    color: $custom-color;
    line-height: 2;

    .logo {
        img {
            width: 300px;
        }
    }
    .text {
        h2 {
            margin-bottom: 50px;
        }
        &-about {
            margin-left: 25%;
            p {
                span {
                    color: $main-color;
                }
            }
            a {
                color: $main-color;
                &:hover {
                    text-decoration: underline;
                }
            }
        }
        &-slider {
            width: 65%;
            margin: 0 auto 80px;

            .carousel-item {
                min-height: 350px;

                .carousel-caption {
                    width: 100%;
                    padding: 80px 70px 35px;
                    right: 0;
                    left: 0;
                    img {
                        position: absolute;
                        top: 0;
                        right: 50%;
                        transform: translate(50%, -50%);
                        -webkit-transform: translate(50%, -50%);
                        -moz-transform: translate(50%, -50%);
                        -ms-transform: translate(50%, -50%);
                        -o-transform: translate(50%, -50%);
                    }
                    h4 {
                        font-size: 18px;
                        color: $custom-color;
                        margin-bottom: 15px;
                    }
                    p {
                        font-size: 15px;
                        line-height: 22px;
                        color: $grey-color;
                        margin-bottom: 25px;
                    }
                }
            }

            .carousel {
                &-indicators {
                    bottom: -5px;
                    button {
                        width: 15px;
                        height: 15px;
                        border: 1px solid $main-color;
                        background-color: $custom-color;

                        &.active {
                            background-color: $main-color;
                        }
                        &:hover {
                            background-color: $grey-color;
                        }
                    }
                }
                &-control-next,
                &-control-prev {
                    top: 50% !important;
                    width: fit-content !important;
                    height: fit-content !important;
                    svg {
                        padding: 10px 20px;
                        background-color: $main-color;
                        border-radius: 50%;
                    }
                }
                &-control-next {
                    transform: translate(-50%, 50%);
                }
                &-control-prev {
                    transform: translate(50%, 50%);
                }
            }
        }
    }
    .owners {
        h3 {
            margin-top: 50px;
        }

        img {
            width: 150px;
            height: 150px;
            border-radius: 50%;
        }
        h4 {
            margin-top: 10px;
        }
    }
}

@media (max-width: 992px) {
    section {
        &.about-us {
            .text-slider {
                width: 90%;
            }
        }
    }
}

@media (max-width: 768px) {
    section {
        &.about-us {
            .carousel-caption {
                padding: 65px 35px 35px;
            }
        }
    }
}

@media (max-width: 450px) {
    section {
        &.about-us {
            .text-slider {
                .carousel-item {
                    min-height: 393px;
                }
            }
        }
    }
}
