@import "./variable";

@font-face {
    font-family: "cairoFont";
    src: url(../fonts/Cairo-Regular.ttf);
}

html::-webkit-scrollbar {
    width: 10px !important;
}

html::-webkit-scrollbar-track {
    background-color: rgba(100, 100, 100, 0.3);
}

html::-webkit-scrollbar-thumb {
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    background-color: $main-color;
}

body {
    font-family: "cairoFont", sans-serif !important;
    background-color: $dark-grey-color;
    scrollbar-width: thin;
}

ul {
    list-style: none !important;
    padding: 0 !important;
    margin: 0 !important;
}

a {
    text-decoration: none;
}

.custom-btn {
    padding: 15px 40px;
    color: $main-color !important;
    border: 1px solid $main-color !important;
    font-weight: bold !important;

    &:hover,
    &:focus {
        color: $custom-color !important;
        background-color: $main-color !important;
        border: 1px solid $custom-color !important;
    }
}

.container > .text-center {
    color: $custom-color !important;
    margin-bottom: 30px;
}

.order-price {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 20px;

    .custom-btn {
        padding: 10px 20px;
    }
    span {
        display: inline-block;
        font-size: 20px;
        font-weight: bold;
        color: $main-color;
    }
}

.container-fluid {
    padding-right: 0 !important;
    padding-left: 0 !important;
    overflow-x: hidden;
}

.top-menu {
    .navbar {
        font-weight: bold;
        padding: 0 100px !important;
        background-color: transparent !important;

        img {
            width: 50px;
        }
        button.navbar-toggler {
            color: $custom-color;
        }
        .navbar-nav {
            li > a {
                transition-property: background-color;
                transition-duration: 0.5s;
                color: $custom-color;

                &:hover {
                    color: $main-color;
                    background-color: $custom-color;
                    border-bottom: 1px solid $main-color;
                }
            }

            .active a {
                color: $main-color !important;
                border-bottom: 1px solid $custom-color;
            }
        }
    }
    .noTransparent {
        background-color: $custom-color !important;

        button.navbar-toggler {
            color: $main-color !important;
        }
        li > a {
            transition-property: background-color;
            transition-duration: 0.5s;
            color: $dark-grey-color !important;

            &:hover {
                color: $custom-color !important;
                background-color: $main-color !important;
                border-bottom: 1px solid $main-color;
            }
        }

        .active a {
            color: $main-color !important;
            border-bottom: 1px solid $dark-grey-color !important;

            &:hover {
                color: $custom-color !important;
            }
        }
    }
}

.hero {
    .row {
        display: block !important;
    }

    .carousel {
        .carousel-item {
            img {
                height: 100vh;
                object-fit: cover;
            }

            .overlay {
                position: absolute;
                background-color: rgba($color: $grey-color, $alpha: 0.3);
                top: 0;
                right: 0;
                height: 100%;
                width: 100%;
                display: flex !important;
                flex-flow: column;
                align-items: center;
                justify-content: center;
                z-index: 1;
            }
        }

        .carousel-indicators {
            li {
                width: 15px;
                height: 15px;
                border-radius: 50%;
                -webkit-border-radius: 50%;
                -moz-border-radius: 50%;
                -ms-border-radius: 50%;
                -o-border-radius: 50%;
                margin: 20px 5px 0 0;

                &.active {
                    background-color: $main-color;
                }
            }
        }

        .carousel-caption {
            h1 {
                font-weight: bold;
                color: $custom-color;
                margin-bottom: 50px;

                span {
                    color: $main-color;
                    font-size: 50px;
                }
            }

            h4 {
                width: 60%;
                color: $custom-color;
            }
        }
    }
}

.offers {
    .card-body {
        width: 90%;
        border: 1px solid $grey-color;
        border-radius: 5px;
        position: relative;
        background-color: $custom-color;
        top: -17px;
        left: -5%;
    }
    .card-title {
        font-weight: bold;
        font-size: 18px;
    }

    .card-text {
        font-size: 14px;
    }
}

.menu {
    img {
        height: 272px;
        object-fit: cover;
    }

    .pizza-details {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 20px;

        .dropdown-menu {
            padding-right: 10px;
        }
    }
}

footer {
    position: relative;
    overflow: hidden;
    border-top: 1px solid rgba($color: $grey-color, $alpha: 0.3);
    padding-top: 50px;
    color: $custom-color;
    .footer-bg {
        position: absolute;
        object-fit: cover;
        right: -120px;
        bottom: -349px;
        z-index: -1;
        width: 700px;
        opacity: 0.2;
    }
    .site-info {
        .identity {
            gap: 20px;
            .social-links {
                ul {
                    li {
                        svg {
                            color: $custom-color;
                            font-size: 20px;
                            margin: 0 10px;
                            cursor: pointer;
                            transition: all 0.3s ease;

                            &:hover {
                                color: $main-color;
                                transform: scale(1.2);
                            }
                        }
                    }
                }
            }
            p {
                text-transform: capitalize;
                font-size: 15px;
                span {
                    color: $main-color;
                }
            }
        }
        .important-links {
            padding-top: 20px;
            p {
                color: $main-color;
                margin-bottom: 30px;
            }
            ul {
                li {
                    margin: 10px 0;
                    a {
                        color: $custom-color;
                        font-size: 12px;

                        &:hover {
                            color: rgb(63, 63, 172);
                            text-decoration: underline;
                        }
                    }
                }
            }
        }
        .working-info {
            padding-top: 20px;
            h3 {
                font-size: 16px;
                margin-bottom: 35px;
            }
            ul {
                li {
                    margin: 15px 0;
                    font-size: 12px;
                }
                li:nth-of-type(odd) {
                    color: $main-color;
                }
                li:nth-of-type(even) {
                    direction: ltr;
                    color: $custom-color;
                }
            }
        }
        .join-us {
            padding-top: 20px;
            h3 {
                font-size: 16px;
                margin-bottom: 35px;
            }
            .input-group {
                direction: ltr !important;

                input {
                    border-radius: 0;
                    &::placeholder {
                        text-align: right;
                    }
                }
                button {
                    border-radius: 0;

                    svg {
                        color: $custom-color;
                        transition: all 0.3s ease;
                    }
                    &:hover {
                        background-color: transparent !important;
                        svg {
                            color: $main-color;
                        }
                    }
                }
            }
            .copyright {
                direction: ltr;
                span:last-of-type {
                    color: $main-color;
                }
            }
        }
    }

    .links {
        font-size: 16px;
        ul {
            li {
                transition: all 0.3s ease;
                margin: -5px 0 !important;
                &:hover {
                    a {
                        color: $main-color;
                    }
                }
            }
        }
    }
}
